<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Details</title>
    </head>
    <body>
        <h1>Showing Post for User: <i>@<%= post.username %></i></h1>
        <h2>Id: <%= post.id %></h2>
        <div class="content"><%= post.content %></div>
        <br /><br />
        <a href="/posts">Go Back</a>
    </body>
</html>
